{{% extends "bestadmin/index.html" %}
{% load bestadmin_tags %}
{% block content %}
    <div>
        <h2 class="page-header">添加{% get_model_name admin_class %}</h2>

        <ol class="breadcrumb">
            <li><a href="/bestadmin/">Home</a></li>
            <li><a href="/bestadmin/{{ app_name }}">{{ app_name }}</a></li>
             <li><a href="/bestadmin/{{ app_name }}/{{ model_name }}">{{ model_name }}</a></li>
            <li class="active">add {% get_model_name admin_class %}</li>
        </ol>


        <form class="form-horizontal" method="post">
        {% csrf_token %}
            {% for field in form_obj %}
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">{{ field.label }}</label>
                <div class="col-sm-10">
                    {{ field }}
                    <span style="color: red">{{ field.errors.0 }}</span>
                </div>
            </div>
            {% endfor %}
            <div style="float: right">
                <button type="submit" class="btn btn-info">提交</button>
            </div>
        </form>
    </div>




{% endblock %}